
body {
	font-family: Merriweather;
}

header {
	text-align: center;
	border-bottom: 3px solid #2c3944;
}

header h1 {
	background-color: #2c3944;
	color: #fff;
	font-size: 1em;
	height: 3em;
	padding: 1em 0;
	margin-top: 0;
	font-weight: normal;
}

header p {
	color: #cbcfd1;
}

form {
	padding: 1em 0.5em;
	color: #2c3944;
	border-top: 1px solid #2c3944;
	margin-top: 2px;
	margin-right: 1em;
	margin-left: 1em;
	padding: 1em 0;
}

fieldset {
	padding: 1em 0;
	border: none;
}

legend {
	font-weight: bold;
}

#contact {
	border-bottom: 1px solid #2c3944;
}

#contact input {
	margin-left: auto;
	margin-right: auto;
	background-color: #eff0f1;
	border: none;
	height: 2em;
}

input[type="checkbox"]::after,
input[type="radio"]::after {
	content: attr(title);
	display: inline-block;
	margin-left: 20px;
}

input {
	display: block;
	width: 100%;
	margin: 0.5em 0.5em;
}

select {
	width: 100%;
	background-color: #eff0f1;
}

#zip {
	width: 50%;
	margin-left: 0;
	margin-right: auto;
}

textarea {
	width: 100%;
	background-color: #eff0f1;
	border: none;
	padding: 1em;
	resize: none;
	margin-right: 1em;
}

button {
	width: 100%;
	color: #fff;
	background-color: #4ebab5;
	padding: 1em;
	border: none;
}

footer {
	text-align: center;
	font-style: italic;
	font-size: 0.75em;
	color: #cbcfd1;
}

@media (min-width: 760px) {
	form {
		max-width: 500px;
		margin-right: auto;
		margin-left: auto;
	}

	#contact input {
		width: 70%;
		float: right;
		display: inline-block;
	}

	#contact label {
		float: left;
		margin-right: 10%;
	}
}

